body {
            font-family: Arial;
            background: #ffeafa;
            padding: 20px;
            color: #590b3c;
        }

        h1, h2 {
            text-align: center;
        }

        .caixa {
            background: white;
            padding: 15px;
            border-radius: 8px;
            margin-bottom: 15px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            transition: transform 0.3s, box-shadow 0.3s;
        }
        .caixa :hover {
            transform: scale(1.05);
    box-shadow: 0 0 15px rgba(0,0,0,0.3);
        }

        button {
            padding: 8px 15px;
            background: #ff4a83;
            color: white;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }

        button:hover { background: #821963; }

        .centralizar {
            text-align: center;
        }