img{
    border-radius: 10px;
}
h1{
    text-align: left;
}
body{
    background-color: #a474c5;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;

}
div.gatos {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}
.introdução{
    display: flex;
    justify-content: center;
    align-items: center;
}
header {
      background-color: var(--primary-color);
      color: var(--text-light);
      padding: 1rem 1.5rem;
      position: sticky;
      top: 20px;
      z-index: 1000;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        size-adjust: 100%;
        
    }

    h2 {
            color: #a460a9;
            background-color: #542c58;
        }

        .gatos {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            margin: 10px 0;
        }
.rainbow-text {
     font-size: 3em;
    font-weight: bold;
    background: linear-gradient(270deg, rgb(87, 134, 181), rgb(77, 73, 141), rgb(103, 66, 130), rgb(89, 52, 111), rgb(98, 47, 104), rgb(130, 0, 119), rgb(118, 30, 65));
    background-size: 400%;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: rainbow 5s linear infinite;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.045);
    
}
    @keyframes rainbow {
    0% { background-position: 0% }
    100% { background-position: 100% }
}
.zoom {
  transition: transform 0.5s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.zoom:hover {
  transform: scale(1.2);
}
.informações {
    background-color: #582762;
    
    padding: 10px;
    margin: 10px auto;
    margin-right: auto;
    margin-left: auto;
    width: 10%;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: #44164a;
    transition: transform 0.2s;
    font-family: 'arial black';
    text-align: center;
    
}
    .informações a {
    text-decoration: none;
    background-color: #8e537c;
    font-weight: bold;
    color: #531263;
}
.informações:hover {
    transform: scale(1.05);
    background-color: #7e4b60;
    color: #2c0d23;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}
header{
    width: 100%;
    height: auto;
}
.rodape{
    background-color: #582762;
    color: #060506;
    text-align: center;
    padding: 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 5px;
}
.botaos {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
  
